{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block links %}
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
{% endblock %}

{% block carousel %}
    <div class="header-carousel">
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <img src="https://images.unsplash.com/photo-1626785774573-4b799315345d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Z3JhcGhpYyUyMGRlc2lnbnxlbnwwfHwwfHw%3D&w=1000&q=80">
                </div>
                <div class="swiper-slide">
                    <img src="https://i1.wp.com/www.zekagraphic.com/wp-content/uploads/2022/11/graphic-design-tips-for-print-on-demand-Select-the-Right-Design-Tool.jpg?fit=1920%2C1000&ssl=1">
                </div>
                <div class="swiper-slide">
                    <img src="https://img.freepik.com/free-vector/graphic-design-geometric-wallpaper_52683-34399.jpg">
                </div>
                <div class="swiper-slide">
                    <img src="https://i.ytimg.com/vi/yY1VIOpNyQ0/maxresdefault.jpg">
                </div>
                ...
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <section class="section-overview">
        <div class="section-content">
            <div class="section-title">
                <h1>Conceptions conviviales de poche des meilleures marques</h1>
                <p>
                    Vestibulum varius eleifend dapibus. Praesent malesuada elementum ipsum, id cursus turpis eleifend a.
                    Vivamus venenatis ornare sapien dapibus tincidunt.
                </p>
            </div>
            <div class="products">
                <div class="left-long-item">
                    <a href="#">
                        <img src="https://cdn.shopify.com/s/files/1/0572/0145/9265/files/test-aa.png?v=1665396048&width=3840" alt="...">
                    </a>
                </div>
                <div class="right-items">
                    <div class="product-item">
                        <a href="#">
                            <img src="https://cdn.shopify.com/s/files/1/0572/0145/9265/files/cupmaso.png?v=1664162879&width=1920">
                        </a>
                    </div>
                    <div class="product-item">
                        <a href="#">
                            <img src="https://cdn.shopify.com/s/files/1/0572/0145/9265/files/bagmaso1.png?v=1664163270&width=1920">
                        </a>
                    </div>
                    <div class="product-item">
                        <a href="#">
                            <img src="https://cdn.shopify.com/s/files/1/0572/0145/9265/files/blue.png?v=1664163417&width=1920">
                        </a>
                    </div>
                    <div class="product-item">
                        <a href="#">
                            <img src="https://cdn.shopify.com/s/files/1/0572/0145/9265/files/Untitled-41.jpg?v=1663909788&width=1920">
                        </a>
                    </div>
                    <div class="bottom-item">
                        <a href="#">
                            <img src="https://cdn.shopify.com/s/files/1/0572/0145/9265/files/nejjefgh.png?v=1668841350&width=1920">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="product-carousel">
        <div class="section-content">
            <div class="flex-div">

                <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <a href="#">
                        <img class="p-8 rounded-t-lg" src="https://cdn.shopify.com/s/files/1/0572/0145/9265/products/product11.jpg?v=1664869612&width=533" alt="product image" />
                    </a>
                    <div class="px-5 pb-5">
                        <a href="#">
                            <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">Apple Watch Series 7 GPS, Aluminium Case, Starlight Sport</h5>
                        </a>

                        <div class="flex items-center justify-between">
                            <span class="text-3xl font-bold text-gray-900 dark:text-white">$599</span>
                            <a href="#" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add to cart</a>
                        </div>
                    </div>
                </div>

                <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <a href="#">
                        <img class="p-8 rounded-t-lg" src="https://cdn.shopify.com/s/files/1/0572/0145/9265/products/product11.jpg?v=1664869612&width=533" alt="product image" />
                    </a>
                    <div class="px-5 pb-5">
                        <a href="#">
                            <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">Apple Watch Series 7 GPS, Aluminium Case, Starlight Sport</h5>
                        </a>

                        <div class="flex items-center justify-between">
                            <span class="text-3xl font-bold text-gray-900 dark:text-white">$599</span>
                            <a href="#" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add to cart</a>
                        </div>
                    </div>
                </div>

                <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <a href="#">
                        <img class="p-8 rounded-t-lg" src="https://cdn.shopify.com/s/files/1/0572/0145/9265/products/product11.jpg?v=1664869612&width=533" alt="product image" />
                    </a>
                    <div class="px-5 pb-5">
                        <a href="#">
                            <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">Apple Watch Series 7 GPS, Aluminium Case, Starlight Sport</h5>
                        </a>

                        <div class="flex items-center justify-between">
                            <span class="text-3xl font-bold text-gray-900 dark:text-white">$599</span>
                            <a href="#" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add to cart</a>
                        </div>
                    </div>
                </div>

                <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <a href="#">
                        <img class="p-8 rounded-t-lg" src="https://cdn.shopify.com/s/files/1/0572/0145/9265/products/product11.jpg?v=1664869612&width=533" alt="product image" />
                    </a>
                    <div class="px-5 pb-5">
                        <a href="#">
                            <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">Apple Watch Series 7 GPS, Aluminium Case, Starlight Sport</h5>
                        </a>

                        <div class="flex items-center justify-between">
                            <span class="text-3xl font-bold text-gray-900 dark:text-white">$599</span>
                            <a href="#" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add to cart</a>
                        </div>
                    </div>
                </div>

                <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <a href="#">
                        <img class="p-8 rounded-t-lg" src="https://cdn.shopify.com/s/files/1/0572/0145/9265/products/product11.jpg?v=1664869612&width=533" alt="product image" />
                    </a>
                    <div class="px-5 pb-5">
                        <a href="#">
                            <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">Apple Watch Series 7 GPS, Aluminium Case, Starlight Sport</h5>
                        </a>

                        <div class="flex items-center justify-between">
                            <span class="text-3xl font-bold text-gray-900 dark:text-white">$599</span>
                            <a href="#" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper('.swiper', {
            // Optional parameters
            direction: 'horizontal',
            loop: true,
            speed: 400,
            autoplay: {
              delay: 3000,
            },

            // If we need pagination
            pagination: {
                el: '.swiper-pagination',
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

            // And if we need scrollbar
            scrollbar: {
                el: '.swiper-scrollbar',
            },
        });
    </script>
{% endblock %}
