@tailwind base;
@tailwind components;
@tailwind utilities;

.main-nav {
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    padding: 0 15px;
    height: 80px;
}

.nav-menu ul{
    display: flex;
    align-items: center;
}

.nav-menu ul li {
    margin: 10px;
    padding: 7px 8px;
}

.nav-menu ul li:hover{
    background-color: #666666;
    border-radius: 4px;
}

.active-btn{
    display: none;
}

.drawer-menu-user {
    display: flex;
    align-items: center;
}

.mobile_menu {
    display: none;
}

@media (max-width: 580px) {
    .nav-menu {
        display: none;
    }

    .active-btn {
        display: block;
    }

    .mobile_menu {
        display: block;
        width: 100%;
        background-color: #333333;
        height: 250px;
        padding: 20px;
        color: white;
        transition: 0.2s ease-out;
    }

    .mobile_menu ul li{
        background-color: #66666654;
        padding: 10px;
        border-radius: 5px;
        /*margin: 15px 0;*/
    }

    .mobile_menu ul li:hover{
        background-color: #666666;
    }

    .mobile_menu ul li:nth-child(2){
        margin: 15px 0;
    }

    .hide-menu {
        display: none;
    }

}