@tailwind base;
@tailwind components;
@tailwind utilities;



.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.35);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    padding: 0 15px;
    height: 80px;
    z-index: 100;
}

.nav-menu ul{
    display: flex;
    align-items: center;
}

.nav-menu ul li {
    margin: 10px;
    padding: 7px 8px;
    font-size: 19px;
}

.nav-menu ul li:hover{
    background-color: rgba(95, 197, 101, 0.64);
    border-radius: 4px;
}

.active-btn {
    display: none;
}

#mobile-menu-btn{
     display: none;
 }

.drawer-menu-user {
    display: flex;
    align-items: center;
}

.mobile_menu {
    display: none;
}

@media (max-width: 580px) {
    .nav-menu {
        display: none;
    }

    .active-btn {
        display: block;
    }

    .display-menu {
        position: fixed;
        top: 70px;
        left: 0;
        right: 0;
        z-index: 1001;
        display: block;
        width: 100%;
        background-color: #333333;
        height: 250px;
        padding: 20px;
        color: white;
        transition: 0.2s ease-out;
    }

    #mobile-menu-btn{
        display: block;
    }

    .mobile_menu ul li{
        background-color: #66666654;
        padding: 10px;
        border-radius: 5px;
    }

    .mobile_menu ul li:hover{
        background-color: #666666;
    }

    .mobile_menu ul li:nth-child(2){
        margin: 15px 0;
    }
}

/*carousel*/
.header-carousel {
    background-color: #3b82f6;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper img {
    width: 100%;
    height: 100%;
}

/*section services*/
.services{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-row-gap: 30px;
    grid-column-gap: 16px;
    margin: 20px 0;
}
.service-item {
    border: 1px solid;
    height: 300px;
    border-radius: 10px;
}

.service-item:hover{
    background-color: #3a369b;
}

/*section*/

.section-overview {
    margin: 100px 0;
    width: 100%;
}

.section-content {
    width: 80%;
    margin: auto;
}

.section-title {
    width: 50%;
    margin: auto;
}

.section-title h1 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 5px;
}

.section-title p {
    text-align: center;
}

.products {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-row-gap: 30px;
    grid-column-gap: 16px;
}

.product-item {
    position: relative;
    height: 420px;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
}

.product-item:hover {
    transform: translateY(20px);
}

.product-item:hover:before {
    opacity: 1;
}

.product-item img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
}

.product-item:hover .cover {
    opacity: 1;
    transform: translateY(0px);
}

.product-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}

.product-item .cover{
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-item .cover .info{
    width: 50%;
    margin-bottom: 50px;
}

.product-item .cover .info h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.product-item .cover .info p {
    margin-bottom: 10px;
}

.product-item .cover .info a {
    margin-top: 7px;
    padding: 10px 15px;
    background-color: #000000;
    border-radius: 10px;
}

/*section pub*/
.publication-card {
    width: 100%;
    height: 500px;
    background-color: rgba(176, 65, 62, 0.89);
}

/*category-content*/
.category-content {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-row-gap: 30px;
    grid-column-gap: 16px;
}