<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenu sur k-Laye Print{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/styles/style.css') }}">
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
